.circle-title{
    font-size: 12px;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: #555
}

.circle-value{
    font-size: 16px;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: #555
}

.circle-label{
  font-size: 10px;
  dominant-baseline: middle;
}
 
.new-cases-value{
    font-size: 16px;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: #555;
    cursor: default
}

.pie-label{
  font-size: 10px;
  text-anchor: middle;
  dominant-baseline: middle;
}

.pie-other-label{
  font-size: 9px;
  text-anchor: middle;
  dominant-baseline: middle;
}


.line{
  fill: none;
  stroke-width: 5;
}

.label{
  font-size: 10px;
}

#title p{
  font-size: 1rem;
}


#footer p{
  font-size: 0.6rem;
}

.card{
  padding-left: 0;
  padding-right: 0;
}

.card-header{
  background-color: #91B7D9;
}

.card-body{
  padding: 0;
}

#buttons{
  padding-left: 0.2rem;
  padding-top: 0.2rem;
}

