*{
    font-family: Arial, Helvetica, sans-serif;
}

.circle-title{
    font-size: 12px;
    text-anchor: middle;
    fill: #555
}

.circle-value{
    font-size: 16px;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: #555
}

.breakdown-value{
    font-size: 16px;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: #555;
    cursor: default
}