*{
  font-family: Helvetica;
  color: #4c4e4d;
}

.circle-title{
    font-size: 12px;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: #555;
    font-weight: 600;
}

.circle-value{
    font-size: 16px;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: #555
}

.circle-label{
  font-size: 10px;
  dominant-baseline: middle;
  fill: #4c4e4d;
}
 
.new-cases-value{
    font-size: 16px;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: #555;
    cursor: default
}

.pie-label{
  font-size: 10px;
  text-anchor: middle;
  dominant-baseline: middle;
}

.pie-other-label{
  font-size: 9px;
  text-anchor: middle;
  dominant-baseline: middle;
}


.line{
  fill: none;
  stroke-width: 5;
}

.label{
  font-size: 10px;
}

#title p{
  font-size: 1rem;
}


#footer p{
  font-size: 0.6rem;
}

.card{
  padding-left: 0;
  padding-right: 0;
}

.card-header{
  background-color: #F1F2F1;
  font-weight: 600;
  font-family: Helvetica;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: .010em
}

.card-body{
  padding: 0;
  background-color: #f7f7f7;
}

#buttons{
  padding-left: 2.5rem;
  position: absolute;
  z-index: 9999;
}

.btn{
  color: #4c4e4d !important;
  font-size: 0.5;
}

.toggle-handle{
  background-color: #6C757C;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.9;
  shape-rendering: crispEdges;
  stroke-dasharray: 3
}

.grid path {
  stroke-width: 0;
}

#x-axis path {
  stroke-width: 0;
}

#x-axis text {
  opacity: 0.8;
  font-size: 0.7rem;
}

#y-axis text {
  opacity: 0.8;
}

#y-axis path {
  stroke-width: 0;
}

.breakdown-title-text{
  font-size: 12px;
  text-anchor: middle;
  dominant-baseline: middle;
  fill: #555
}

.label, .pie-label, .pie-other-label, .breakdown-title-text, .circle-label{
  text-rendering: "optimizeLegibility";
}

.breakdown-title-text{
  font-weight: 600;
}
